{% extends 'base.html' %}

<!-- load static files -->
{% load staticfiles %}
{% load humanize %}

{% block dashbord_active %}active{% endblock %}

{% block title %}Tableau de bord | {{ block.super }}  {% endblock %}

{% block stylesheets %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/jqueryui.css' %}">
{% endblock %}


{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Tableau de bord</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class=""><a href="{% url 'home' %}">Tableau de bord</a></li>
                    <li class="active">Statistiques</li>
                </ol>
            </div>
        </div>
    </div>


</div>

<div class="content mt-3">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h2>Bilan mensuel</h2>
                <br>
                <form action="" class="form-inline" method="get">

                    <label for="month">Mois</label> :
                    <select name="month_" id="month" class="form-control">
                        {% for k, v in months %}
                        <option {% if current == k %} selected="selected" {% endif %} value="{{k}}">{{v}}</option>
                        {% endfor %}
                    </select>
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<label for="from">Date de depart:</label>-->
                    <!--<input type="text" id="from" name="from">-->
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<label for="to">Date de fin:</label>-->
                    <!--<input type="text" id="to" name="to">-->
                </form>
                <div class="pull-right">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <canvas id="myChart" data-endpoint="{% url 'api-analytics:list' %}"
                                height="180" data-month="{{current}}"></canvas>
                    </div>
                    <!--<div class="col-md-6"></div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <h3></h3>
        <!--{{data}}-->
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading"><b>Total Credit par groupe</b></li>
            {% for k in data %}
            <li class="list-group-item"><span style="color: rgba(228,67,60,0.89)">{{k.name}} :</span> <b> {{k.credit|intcomma}} F CFA</b></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% block javascripts %}

{{ block.super }}
<script src="{% static 'js/jqueryui.js' %}"></script>
<script src="{% static 'js/chartjs.min.js' %}"></script>
<script>

    /**
     *  Ajax call for statistic
     * @type {jQuery}
     */

    var myCart = $('#myChart');
    // var url = myCart.attr('data-endpoint');
    var default_month = myCart.attr('data-month');
    var group_ = $('#group');
    var month_ = $('#month');


    data_ = {
        month: default_month
    }
    StatisticCall(data_);

    month_.on('change', function (e) {
        data_ = {
            month: $(this).val()
        }
        // console.log()
        StatisticCall(data_)
    })

    // datepicker
    $.datepicker.setDefaults($.datepicker.regional["fr"]);

    var dateFormat = "dd/mm/yy";
    from = $("#from")
        .datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            showButtonPanel: true,
        })
        .on("change", function () {
            to.datepicker("option", "minDate", getDate(this));
            s = from.val().split('/')

            // if (to.val() != undefined) {
            var data_ = {
                group: group_.val(),
                from_: from.val(),
                to_: to.val()
            }
            // console.log()
            StatisticCall(data_)
            // }

        }),
        to = $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1
        })
            .on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
                console.log("====== to ===== ")
                console.log(to.val());

                var data_ = {
                    group: group_.val(),
                    from_: from.val(),
                    to_: to.val()
                }
                // console.log()
                StatisticCall(data_)
            });

    function getDate(element) {
        var date;
        try {
            date = $.datepicker.parseDate(dateFormat, element.value);
        } catch (error) {
            date = null;
        }
        return date;
    }

    function StatisticCall(params) {
        var url = $('#myChart').attr('data-endpoint')
        $.ajax({
            url: url,
            method: 'GET',
            data: params
        }).done(function (data) {
            console.log(data)
            var Label_ = data.label;
            var DataList = data.dataSet;
            var credits = data.rest;
            // var ul = $('#credits')
            // for (var i = 0; i < label_.length(); i++) {
            //     l = label_[i];
            //     var li = document.createElement('li');
            //     li.innerHTML = l;
            //     ul.appendChild(li)
            // }


            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: Label_,
                    datasets: [{
                        label: 'Bilan mensuel par groupe',
                        data: DataList,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        })
    }

</script>
{% endblock %}