{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Tableau de bord | {{ block.super }}  {% endblock %}
{% block javascripts %}
{{ block.super }}

<script>
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });
    });
</script>
{% endblock javascripts %}

{% block content %}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Tableau de bord</h1>
            </div>
        </div>
    </div>
    <!--<div class="col-sm-8">-->
        <!--<div class="page-header float-right">-->
            <!--<div class="page-title">-->
                <!--<ol class="breadcrumb text-right">-->
                    <!--<li class="active">Produits</li>-->
                <!--</ol>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div class="content mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Liste des commandes</strong>
                <div class="pull-right">
                    <!--<span>Filtrer par type de lentille: </span>-->
                    <span><a title="Add New" href="{% url 'order:order-create' %}" class="btn btn-primary"><i
                            class="fa fa-plus-circle"></i> Ajouter une commande</a></span>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="">
                    <button class="btn btn-default">Filtrer</button>
                </div>
            </div>
            <div class="card-body">
                <!--{% if request.GET.lens_type %} {{all_stock.count}} {% endif %}-->
                {% if object_list %}
                <table id="bootstrap-data-table" class="table table-striped">
                    <thead>
                    <tr>
                        <!--<th scope="col">#</th>-->
                        <th scope="col">Reference</th>
                        <th scope="col">Client</th>
                        <th scope="col">Groupe</th>
                        <th scope="col">Prix du verre</th>
                        <th scope="col">Avance</th>
                        <th scope="col">Montant Restant</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date de consultation</th>
                        <th scope="col">Date de livraison</th>
                        <th scope="col"><!-- TODO: write "Action' to show the user what this "th" is for --></th>

                        <!--<th scope="col">En stock</th>-->
                        <!--<th scope="col">Quantité</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in object_list %}
                    <tr>
                        <!--<th scope="row">{{forloop.counter}}</th>-->
                        <td><a href="{{order.get_absolute_url}}" title="Order Detail">{{order.order_id}}</a></td>
                        <td>{{ order.full_name}}</td>
                        <td>{{order.commercial_group.name}}</td>
                        <td>{{order.price}}</td>
                        <td>{{order.advance}}</td>
                        <td>{{order.rest}}</td>
                        <td style="text-align: center" class="{% if order.status == 'created' %} bg-primary {% elif order.status == 'paid' %} bg-success {% elif order.status == 'shipped' %} bg-warning{% else %} bg-info {% endif %}" >
                            <!--{% if order.status == 'created' %}-->
                            <!--<span class="badge badge-primary">{{order.get_status_display}}</span>-->
                            <!--{% elif order.status == 'paid' %}-->
                            <!--<span class="badge badge-success">{{order.get_status_display}}</span>-->
                            <!--{% elif order.status == 'shipped' %}-->
                            <!--<span class="badge badge-warning">{{order.get_status_display}}</span>-->
                            <!--{% else %}-->
                            <!--<span class="badge badge-info">{{order.get_status_display}}</span>-->
                            <!--{% endif %}-->

                            {{order.get_status_display}}

                        </td>
                        <td>{{order.ordered_at}}</td>
                        <td>{% if order.shipped %}{{order.shipped_at}}{% endif %}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{{order.get_absolute_url}}" title="Order Detail"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <ul class="errorlist">
                    <li>Il n'y a aucun produit</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}