{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}


{% block title %}Tableau de bord | {{ block.super }}  {% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/jqueryui.css' %}">
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/jqueryui.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
            var $dateFormat = 'dd/mm/yy';
            $('#delivery_date').datepicker({
                numberOfMonths: 1,
                showButtonPanel: true
            }).on('change', function () {
                $('#delivery_date').datepicker('option', 'dateFormat', $dateFormat)
            })

            // delivery script
            var form_ = $('#deliver_form');
            var del_btn = $('#delivery_submit_btn');

            form_.on('submit', function (e) {
                del_btn.innerText = 'Chargement...';
                del_btn.attr('disabled', 'disabled')
            });

            // cancel  delivery script
            var c_form = $('#cancel_form');
            var c_btn = $('#cancel_btn');

            c_form.on('submit', function (e) {
                c_btn.attr('disabled', 'disabled')
            })
        });
    </script>
{% endblock javascripts %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Tableau de bord</h1>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-8">-->
        <!--<div class="page-header float-right">-->
        <!--<div class="page-title">-->
        <!--<ol class="breadcrumb text-right">-->
        <!--<li class="active">Produits</li>-->
        <!--</ol>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="content mt-3">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                <span class="">
                    <a href="{% url 'order:order-list' %}" class="btn btn-danger"> <i
                            class="fa fa-arrow-left"></i>
                        Retour à la liste de commandes</a> | <a href="{{ object.zone.get_absolute_url }}"
                                                                class="btn btn-danger"> Retour dans la zone</a>
                </span>

                    <div class="pull-right">
                        <div class="pull-right">
                            <!--<span>Filtrer par type de lentille: </span>-->
                            <span><a title="Add New" href="{% url 'order:order-create' %}" class="btn btn-primary"><i
                                    class="fa fa-plus-circle"></i> Ajouter une commande</a></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="card-body">
                    <!--{% if request.GET.lens_type %} {{all_stock.count}} {% endif %}-->
                    <p>
                        <small class="text-muted"></small>
                    </p>

                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Nom du client et contact</th>
                                    <td>
                                        {{ object.full_name }}
                                        <br>
                                        {{ object.contact }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Prescription et Monture</th>
                                    <td>
                                        - {{ object.type.name }}<br>
                                        - {{ object.detail }}<br>
                                        - {{ object.mount }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Groupe</th>
                                    <td>{{ object.commercial_group.name }} / {{ object.zone.name }}</td>
                                </tr>
                                <tr>
                                    <th>Zone de propection</th>
                                    <td>{{ object.zone.name }}</td>
                                </tr>
                                <tr>
                                    <th>Prix du verre</th>
                                    <td><span>{{ object.price | intcomma }} F CFA</span></td>
                                </tr>
                                <tr>
                                    <th>Montant restant à payé</th>
                                    <td><span>{{ object.rest | intcomma }} F CFA</span></td>
                                </tr>
                                <tr>
                                    <th>Etat de la commande</th>
                                    <td>
                                        {% if order.status == 'created' %}
                                            <span class="badge badge-primary">{{ order.get_status_display }}</span>
                                        {% elif order.status == 'paid' %}
                                            <span class="badge badge-success">{{ order.get_status_display }}</span>
                                        {% elif order.status == 'shipped' %}
                                            <span class="badge badge-warning">{{ order.get_status_display }}</span>
                                        {% else %}
                                            <span class="badge badge-info">{{ order.get_status_display }}</span>
                                        {% endif %}
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <strong class="card-title">Livraison</strong>
                                    <hr>
                                    <p>
                                        Livraison prévu pour le <strong> {{ object.scheduled_shipped_at }}</strong>
                                    </p>

                                    {% if object.status == 'created' %}
                                        <form action="{{ object.get_delivered_url }}" method="post" id="deliver_form">
                                            {% csrf_token %}
                                            <input type="hidden" name="order_id" value="{{ order }}">
                                            <div class="form-row">
                                                <label for="delivery_date">Date de livraison</label>
                                                <input type="text" id="delivery_date" class="form-control"
                                                       name="delivery">
                                                <small class="text-muted">Si Vous ne choisissez pas de date le systeme
                                                    mettera
                                                    la date d'aujourdhui.
                                                </small>
                                            </div>
                                            <div class="form-row">
                                                <button id="delivery_submit_btn" type="submit"
                                                        class="btn btn-primary col-md-12">Valider la
                                                    livraison
                                                </button>
                                            </div>

                                        </form>
                                    {% else %}
                                        <p>
                                            Commande livré le <strong>{{ object.shipped_at }}</strong>
                                            <br>
                                        <form action="{{ object.get_cancel_order_url }}" method="post" id="cancel_form">
                                            {% csrf_token %}
                                            <button type="submit" id="cancel_btn" class="btn btn-outline-danger">
                                                Annullée la livraison
                                            </button>
                                        </form>
                                        </p>
                                        <h4>Frequence de versement</h4>
                                        <hr>
                                        {% if object.payment_status_check == 0 %}
                                            <div class="bg-success">
                                                versement a jour
                                            </div>
                                        {% elif object.payment_status_check == 1 %}
                                            <div class="bg-warning">
                                                Un versement en retard
                                            </div>
                                        {% else %}
                                            <div class="bg-danger">
                                                2/+ versements en retard
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if object.status != 'created' %}
                        <hr>
                        <h4 class="text-danger">Les versements du client</h4>
                        <hr>

                        {% if object.status != 'paid' %}
                            <div class="">
                                <form style="display: inline-block;" action="{{ object.get_complete_order_url }}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{ object.id }}">
                                    <button class="btn btn-primary" type="submit">Soldé la commande</button>
                                </form>
                            </div>
                        {% endif %}
                        <br>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <!--<th scope="col"></th>-->
                                <th scope="col">Status</th>
                                <th scope="col">Montant a payé</th>
                                <th scope="col">Paiement prevu pour</th>
                                <th scope="col">Payé</th>
                                <th scope="col"></th>
                                <!--<th scope="col">Quantité</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {% for v in object.billing_set.all %}
                                <tr class="{% if v.status == 'Paid' %}bg-success{% endif %} {% if v.status == 'Late' %}bg-warning{% endif %}">
                                    <td>{{ v.get_display_name }}</td>
                                    <td>
                                        {{ v.get_status_display }}
                                    </td>
                                    <td>{{ v.amount_due }}</td>
                                    <td>{{ v.payment_due }}</td>
                                    <td>{{ v.get_paid_at_display }}</td>
                                    <td>
                                        {% if v.status != 'Paid' %}
                                            <a href="{{ v.get_billing_update_url }}" class="btn btn-primary"
                                               title="Mettre a Jour"><i class="fa fa-money"></i></a>
                                        {% endif %}
{#                                        {% if v.status == 'Paid' %}#}
{#                                            <form action="" style="display: inline-block;">#}
{#                                            {% csrf_token %}#}
{#                                                <button title="Annuller le versement" class="btn btn-danger"><i class="fa fa-trash"></i></button>#}
{#                                            </form>#}
{#                                        {% endif %}#}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}