<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}VGC Recovery{% endblock %}</title>
    <meta name="description" content="VGC application de recouvrement">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/toatr.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">
    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>

<body>
{% block body %}
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><span style="font-size: 20px;">VGC RC</span></a>
            <a class="navbar-brand hidden" href="./"><span>VGC</span></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% block dashbord_active %}{% endblock %}">
                    <a href="{% url 'home' %}"> <i class="menu-icon fa fa-dashboard"></i> &nbsp; Tableau de bord </a>
                </li>
                <h3 class="menu-title">Recouvrement</h3><!-- /.menu-title -->
                <li><a href="{% url 'product:type-list' %}"> <i class="menu-icon fa fa-th"></i>Types de Lentille</a></li>
                <!--<li class="menu-item-has-children dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"-->
                       <!--aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Clients</a>-->
                    <!--<ul class="sub-menu children dropdown-menu">-->
                        <!--<li><i class="fa fa-list"></i><a href="{% url 'customer:customer-list' %}">Liste des Clients</a>-->
                        <!--</li>-->
                        <!--<li><i class="fa fa-plus-circle"></i><a href="{% url 'customer:customer-create' %}">Ajouter un-->
                            <!--Client</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Groupes</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="{% url 'customer:group-list' %}">Liste des Groupes</a>
                        </li>
                        <li><i class="fa fa-plus-circle"></i><a href="{% url 'customer:group-create' %}">Ajouter un
                            Groupe</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-arrow-right"></i>Commandes</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="{% url 'order:order-list' %}"
                                                         title="Liste des Commandes">Liste des commandes</a></li>
                        <li><i class="fa fa-plus-circle"></i><a href="{% url 'order:order-create' %}">Ajouter une
                            commande</a></li>
                    </ul>
                </li>
                <!--<li><a href="{% url 'billing:billing-list' %}"> <i class="menu-icon fa fa-shopping-cart"></i> Versements </a></li>-->
                <li><a href="{% url 'analytics:home' %}"> <i class="menu-icon fa fa-pie-chart"></i> Statistiques </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form" action="" method="get">
                            <input autofocus class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                   aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{% static 'images/admin.jpg' %}" alt="User Avatar">
                    </a>
                    <div class="user-menu dropdown-menu">
                        <!--<a class="nav-link" href="#"><i class="fa fa-user"></i>Mon Profile</a>-->

                        <!--<a class="nav-link" href="#"><i class="fa fa-user"></i>Notifications <span-->
                        <!--class="count">13</span></a>-->

                        <!--<a class="nav-link" href="#"><i class="fa fa-cog"></i>Réglages</a>-->

                        <a class="nav-link" href="{% url 'account:logout' %}"><i class="fa fa-power -off"></i>Deconnexion</a>
                    </div>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->

    {% for message in messages %}
    <div class="col-sm-12">
        <div class="alert  alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-{{message.tags}}">{{message.tags}}</span> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    {% endfor %}

    <!-- content -->
    {% block content %}{% endblock %}
    <!-- ./ content -->

</div><!-- /#right-panel -->
<!-- Right Panel -->

{% endblock %}

{% block javascripts %}
<script src="{% static 'js/vendor/jquery-2.1.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/toatr.min.js' %}"></script>

<script src="{% static 'js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/datatables-init.js' %}"></script>
{% endblock %}


</body>

</html>